{% extends "base2.html" %}
{% load geojson_tags %}
{% load staticfiles %}
{% load i18n %}
{% load leaflet_tags %}



{% block head %}
	<style type="text/css">

		.leaflet-container {
			height: 700px;
		}

	</style>

	<script language="JavaScript">

		function onEachFeature(feature, layer) {
			if (feature.properties && feature.properties.popupContent) {
				layer.bindPopup(feature.properties.popupContent);
			}
		}

		$(document).ready(function() {

				var my_token = "{{ MAP_TOKEN }}";

				var streets   = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/256/{z}/{x}/{y}?access_token='+my_token+'',{id: 'MapID', attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'}),
				map3 = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/navigation-guidance-day-v4/tiles/256/{z}/{x}/{y}?access_token='+my_token+'',{id: 'MapID', attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'}),
				satellite   = L.tileLayer('https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.png?access_token='+my_token+'', {id: 'MapID', attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'});

		var all_water_points = {{ all_water_points|geojsonfeature:"popupContent"|safe }};
		var functional_water_points = {{ functional_water_points|geojsonfeature:"popupContent"|safe }};
		var not_functional_water_points = {{ not_functional_water_points|geojsonfeature:"popupContent"|safe }};

		all_water_points = L.geoJson(all_water_points, {onEachFeature: onEachFeature});
		functional_water_points = L.geoJson(functional_water_points, {onEachFeature: onEachFeature});
		not_functional_water_points = L.geoJson(not_functional_water_points, {onEachFeature: onEachFeature});

		var map = L.map('map', {
			center: [-3.5, 29.9],
			zoom: 9,
			layers: [streets, not_functional_water_points]
		});

		var baseMaps = {
			"Map 1": streets,
			"Map 2": satellite,
			"Map 3": map3
		};

		var overlayMaps = {
		    //"All Water Points": all_water_points,
		    "Functional WP": functional_water_points,
		    "Not Functional WP": not_functional_water_points
		};

		L.control.layers(
			baseMaps, 
			overlayMaps
			).addTo(map);
		});

	</script>
{% endblock %}




{% block container %}

	<div id="map" style="margin: 0 auto">
		
	</div>		

{% endblock %}
